html {
  --font-size: 16pt;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --cookie-size: 400px;
  --bg-color: #121212;
  --element-color: #282828;
  --focused-color: #3f3f3f;
  --text-color: #8b8b8b;
  /* all: unset; */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  display: flex;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

#canvas-left {
  flex: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #346b8f;
  gap: 10px;
}

.cookie-text {
  background-color: #000000b0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cookie-amount {
  font-size: 24pt;
}

#cookie-gain {
  font-size: 12pt;
}

#cookie-button {
  width: 256px;
  height: 256px;
}

#canvas-middle {
  flex: 3;
  position: relative;
}

#canvas-right {
  flex: 1;
  position: relative;
}

.upgrade {
  background-color: var(--element-color);
  z-index: 1;
  position: relative;
  height: 2.5rem;
}

.upgrade:hover {
  background-color: var(--focused-color);
}

.upgrade span:nth-child(1) {
  font-size: 10pt;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.upgrade span:nth-child(2) {
  font-size: 24pt;
  position: absolute;
  right: 0%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}
